@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
$verde: #00745A;
$preto: #000000;
.main{
    padding: 2rem 3rem ;
    display: flex;
    gap: 15rem;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}
.estetoscopio{
    display: flex;
    align-items: center;
}
.estetoscopio p{
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 3rem;
    background-color: #E5E5E5;
}
.estetoscopio img{
    padding: 0 0.5rem;
}
.texto h1{
    font-size: 3.9rem;
    font-weight: bold;
    padding: 1rem 0;
}
.texto p{
    font-size: 1.6rem;
}
.botoes{
    display: flex;
    gap: 2rem;
    margin: 4rem 0;
}
.botao-ajudar{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid $verde;
    color: $verde;
}
.missao{
    background-color: $verde;
}
.content-missao{
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 3rem;
    font-family: "Inter", sans-serif;
}
.titulo-missao{
    color: white;
}
.titulo-missao h2{
    font-size: 3rem;
}
.titulo-missao p{
    font-size: 1.3rem;
}
.cards-missao{
    padding: 2rem 0;
    display: flex;
    gap: 2.5rem;
}
.card-missao{
    text-align: center;
    padding: 2.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    color: white;
}
.card-missao h3{
    font-size: 1.7rem;
}
.card-missao p{
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem 0;
}
.impacto{
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 3rem;
    font-family: "Inter", sans-serif;

}
.impacto h2{
    font-size: 3rem;
}
.impacto p{
    font-size: 1.3rem;
}
.cards-impacto{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    

}
.card-impacto{
    text-align: center;
    border: 1px solid $preto;
    border-radius: 1rem;
    padding: 3rem 4rem;
}
.card-impacto p{
    font-size: 1.2rem;
    font-weight: 500;
}
p.verde{
    color: $verde;
    font-size: 3rem;
}