@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
$verde: #00745A;
$preto: #000000;

.seja-volun{
    font-family: "Inter", sans-serif;
    max-width: 1400px;
    margin: 0 auto;
    padding: 3rem 3rem;

    @media (max-width: 768px) {
        padding: 2rem 1.5rem;
    }
}
.titulo-volun{
    text-align: center;
}
.titulo-volun h1{
    font-size: 4rem;

    @media (max-width: 768px) {
        font-size: 2.5rem;
    }
}
.titulo-volun p{
    font-size: 1.4rem;

    @media (max-width: 768px) {
        font-size: 1rem;
        padding: 0 1rem; // Um pouco de margem lateral para não colar na borda
    }
}
.cards-volun{
    padding-top: 2rem;
    display: flex;
    gap: 3rem;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1.5rem;
    }

}

.card-volun{
    text-align: center;
    border: 1px solid $preto;
    border-radius: 0.5rem;
    padding: 2rem;
    flex: 1
}
.card-volun h2{
    font-size: 1.6rem;
}
.card-volun p{
    padding-top: 1rem;
    font-size: 1.3rem;
}
.fundo-verde{
    background-color: $verde;
    padding: 3rem;

    @media (max-width: 768px) {
        padding: 2rem 1rem; // Padding menor no mobile
    }
}
.form-volun{
    font-family: "Inter", sans-serif;
    max-width: 1200px;
    margin: 1rem auto;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}
.form-volun h3{
    font-size: 1.4rem;
    padding-bottom: 2rem;
}
.form-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
input{
    padding: 15px;
    border: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}
.metade{
    width: calc(50% - 0.5rem); // Ajuste matemático preciso (metade menos metade do gap)

    // Responsividade: Input ocupa 100% da linha no mobile
    @media (max-width: 768px) {
        width: 100%;
    }
}
label{
    display: block;
    margin: 1rem 0;
    font-weight: bold;
}
.textarea{
    font-family: "Inter", sans-serif;
    padding: 15px;
    border: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    resize: none;
}
.form-volun p{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}
button{
    padding: 1rem 2.5rem; 
    background-color: $verde; 
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;

    @media (max-width: 500px) {
        width: 100%; // Botão full width em telas muito pequenas
    }
}
.container-botao {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 10px; 
}